@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    @if (User.Identity.IsAuthenticated)
    {
        <h1 class="title">
            Welcome, @User.Identity.Name
        </h1>
        @foreach (string permission in Model.Permissions)
        {
            <p>@permission</p>
        }
    }
    else
    {
        <h1 class="title">
            Please log in to see information.
        </h1>
    }

</div>